* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: '微软雅黑', Helvetica, Arial;
    outline: none;
}

form {
    background: #f5f5f5;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    box-shadow: 0 -2px 10px #bdbdbd;
}

form input {
    border: none;
    border-bottom: 2px solid #e0e0e0;
    padding: 10px 75px 10px 0;
    width: 100%;
    /*margin-right: .5%;*/
    background: none;
    transition: all .5s ease;
    font-size: 14px;
    color: #333;
}

form input:focus {
    border-color: #03a9f4;
}

form button {
    position: absolute;
    width: 70px;
    background: #03a9f4;
    border: none;
    padding: 10px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-family: 'Material Icons';
    color: #fff;
    font-size: 20px;
}

a {
    text-decoration: none;
}

body {
    background: #fafafa;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    /*font-weight: 400;*/
    src: url(MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(MaterialIcons-Regular.woff2) format('woff2'), url(MaterialIcons-Regular.woff) format('woff'), url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.clear:after {
    content: "";
    clear: both;
    visibility: hidden;
    height: 0;
    display: table;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages .chatLi {
    padding: 5px 10px;
}

#messages .chatLi:nth-child(odd) {
    background: #eee;
}

#messages .broadcast {
    background: red;
    color: #fff;
}

.loginCon {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fafafa;
    box-shadow: inset 0 0 20px #b7b7b7;
    z-index: 99999;
}

.loginBox {
    position: absolute;
    transform: translateY(-100%);
    top: 50%;
    left: 0;
    width: 100%;
}

.loginBox .topHead {
    text-align: center;
    width: 100%;
    font-size: 34px;
    color: #666;
    margin-bottom: 30px;
}

.loginBox .input {
    margin: 0 auto 20px;
    width: 50%;
    max-width: 800px;
    height: 50px;
    /*background-color: #fff;*/
    border-radius: 0;
    overflow: hidden;
}

.loginBox .input input[type="text"] {
    border: none;
    border-bottom: 2px solid #e0e0e0;
    width: 100%;
    font-size: 20px;
    color: #666;
    height: 50px;
    padding: 13px 5px;
    background: none;
    transition: all .5s ease;
    border-radius: 0;
    font-family: '微软雅黑';
    margin: 0;
}

.loginBox .input input[type="text"]:focus {
    border-bottom-color: #03a9f4;
}

.loginBox .btn {
    margin: 0 auto 10px;
    width: 50%;
    max-width: 800px;
    /*height: 50px;*/
    /*background-color: #fff;*/
    border-radius: 0;
}

.loginBox .btn input[type="submit"] {
    width: 100%;
    border-radius: 0;
    font-family: '微软雅黑';
    text-align: center;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    color: #fff;
    border: none;
    display: block;
    margin: 0;
    transition: all .5s ease;
    background-color: #03a9f4;
    font-size: 20px;
}

.loginBox .btn input[type="submit"]:hover {
    box-shadow: 0 0 10px #A5CCEC;
}

.loginCoryright {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #999;
    font-family: inherit;
}

.loginCoryright a {
    color: #999;
}

.loginCoryright a:hover {
    color: #86C8FF;
    text-decoration: underline;
}

.chatCon {
    padding-bottom: 62px;
    overflow: hidden;
}

.welcomeCon {
    text-align: center;
    margin: 10px auto;
}

.welcomeCon span {
    display: inline-block;
    vertical-align: top;
    padding: 0 30px;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    background-color: #ff9800;
    border-radius: 11px;
    color: #fff;
}

.welcomeCon span b {
    margin: 0 3px;
    font-size: 14px;
}

.messageCon {
    margin: 10px auto;
    padding: 0 10px;
}

.messageCon .username{
    font-size: 12px;
    color: #bdbdbd;
    line-height: 20px;
}

.messageCon .img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 6px;
    background-color: #bdbdbd;
}

.messageCon.my .img {
    float: right;
}

.messageCon.my .username{
    text-align: right;
}

.messageCon.other .img {
    float: left;
}

.messageCon .messageBox {
    margin-left: 70px;
    margin-right: 70px;
}

.messageCon .messageBox .info {
    position: relative;
    padding: 10px;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    border-radius: 6px;
}

.messageCon.my .messageBox .info {
    float: right;
    background-color: #03a9f4;
    color: #fff;
}

.messageCon.other .messageBox .info {
    float: left;
    background-color: #e0e0e0;
}

.messageCon.my .messageBox .info:before {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    content: "";
    background-color: #03a9f4;
    top: 0;
    right: -6px;
    z-index: 2;
}

.messageCon.my .messageBox .info:after {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    content: "";
    background-color: #fafafa;
    top: 0;
    right: -10px;
    z-index: 3;
    border-top-left-radius: 50%;
}

.messageCon.other .messageBox .info:before {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    content: "";
    background-color: #e0e0e0;
    top: 0;
    left: -6px;
    z-index: 2;
}

.messageCon.other .messageBox .info:after {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    content: "";
    background-color: #fafafa;
    top: 0;
    left: -10px;
    z-index: 3;
    border-top-right-radius: 50%;
}